body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background: linear-gradient(90deg, #a5d6a7, #1b5e20);
    color: white;
    padding: 1vh 0;
    text-align: center;
}


.header-container {
    padding-top: 5vh;
    padding-bottom: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}



.container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.features {
    display: flex;
    background-color: white;
    padding: 1.5vh 0;
    text-align: center;
    justify-content: center;
}


.container-vistes {
    display: flex;
    justify-content: space-between;
    margin: 1vh;
    box-sizing: border-box;
    align-items: center;
    width: 98%;
    flex-direction: row
}

.container-vistes > div {
    flex: 1 1 auto;
    margin: 1vh;
    box-sizing: border-box;
    
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 10px;
}

.screenshot-item {
    flex: 1 1 100%;
    margin: 3vh 3vh 3vh 3vh;
    max-width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 1vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 10px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.text-content {
    flex: 1;
}


.text-content h1 {
    margin: 0;
    font-size: 3em;
}

.text-content .developer {
    font-style: italic;
}

.text-content .description {
    margin: 10px 0;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
}




.btn i {
    margin-right: 8px;
}

.btn:hover {
    background-color: #45a049;
}

.logo img {
    width: 100px;
    height: 100px;
}

.feature .icon {
    font-size: 2em;
    color: #4caf50;
    margin-top: 1vh;
}

.logo {
    display: flex;
    border-radius: 20%;
    flex: 0;
    margin-right: 0 auto;
    align-items: center;
    
}


.feature h2 {
    margin: 10px 0 0;
    font-size: max(2.3vh, 2vw);
}

.feature p {
    max-width: 400px;
}

.screenshots {
    background-color: #e8e8e8;
    padding: 20px 0;
    text-align: center;
}

.screenshots h2 {
    margin: 0 0 5vh;
    padding-top: 4vh;
}

.screenshot-list {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
}




.screenshot-item img {
    width: 90%;
    height: auto;
}

.screenshot-item h3 {
    margin: 10px 0 5px;
}

.screenshot-item p {
    margin: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.contact-form {
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

.contact-form h2 {
    margin-bottom: 20px;
    font-family: 'Roboto Mono', monospace;
}


.contact-form form {
    max-width: 50vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 50vh;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Roboto Mono', monospace;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    font-family: 'Roboto Mono', monospace;
    color: #888;
}

.contact-form .btn.submit {
    display: block;
    background-color: #4caf50;
    color: white;
    border: 1px solid black;
    border-width: 0.3vh 0.5vh 0.5vh 0.3vh;
    padding: 1vh 2vh;
    cursor: pointer;
    border-radius: 5px;
}

.contact-form .btn.submit:hover {
    background-color: #45a049;
}



.footer {
    background-color: #001f3f;
    color: white;
    padding-top: 3vh;
    padding-bottom: 1vh;
    text-align: center;
}

.btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer p {
    margin: 0;
    width: 100%;
    text-align: center;
    display: inline-block;
}

@media (max-width: 767px) {
    .header-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    .header-container > * {
        margin: 10px 0;
    }
    
    .container-vistes {
        flex-direction: column;
        align-items: center;
    }


    .header-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;  
    }
    .header-content > * {
        margin: 10px 0;
    }

    .text-content {
        max-width: 100%;
        
    }


    .screenshot-list {
        display: flex;
        align-items: stretch;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .screenshot-item {
        flex: 1 1 100%;
        max-width: 30vh;
        box-sizing: border-box;
    }
    .buttons {
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }
    
}
