body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background: linear-gradient(90deg, #a5d6a7, #1b5e20);
    color: white;
    padding: 20px 0;
    text-align: center;
}


.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left; /* Canviat a left per alinear el text a l'esquerra */
}



.container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.features {
    background-color: white;
    padding: 20px 0;
    text-align: center;
}


.container-vistes {
    display: flex; /* Assegura que els elements fills estiguin en fila */
    flex-wrap: wrap; /* Permet que els elements es moguin a la següent línia si és necessari */
    justify-content: center; /* Centra els elements horitzontalment */
    margin: 10px;
    box-sizing: border-box;
}

.container-vistes > div {
    flex: 1 1 auto; /* Permet que els elements fills creixin i es redueixin segons sigui necessari */
    margin: 10px;
    max-width: calc(33.333% - 20px); /* Ajusta l'ample màxim per a tres elements per fila amb espai entre ells */
    box-sizing: border-box;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc; /* Afegeix una vora */
    border-radius: 5px; /* Afegeix cantonades arrodonides */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Afegeix una ombra */
    background-color: #fff; /* Assegura que el fons sigui blanc */
    padding: 10px; /* Afegeix espai interior */
}

.screenshot-item {
    flex: 1 1 100%; /* Hace que cada elemento ocupe el 100% del ancho disponible */
    margin: 10px;
    max-width: 100%; /* Asegura que no exceda el 100% del contenedor */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
    border: 1px solid #ccc; /* Afegeix una vora */
    border-radius: 2vh; /* Afegeix cantonades arrodonides */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Afegeix una ombra */
    background-color: #fff; /* Assegura que el fons sigui blanc */
    padding: 10px; /* Afegeix espai interior */
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.text-content {
    flex: 1;
}


.text-content h1 {
    margin: 0;
    font-size: 3em;
}

.text-content .developer {
    font-style: italic;
}

.text-content .description {
    margin: 10px 0;
}

.buttons {
    margin-top: 20px;
    display: flex;  /* Agregar esto para que los botones estén en fila */
    justify-content: flex-start;  /* Alinea los botones a la izquierda */
}

.btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn i {
    margin-right: 8px;
}

.btn:hover {
    background-color: #45a049;
}

.logo img {
    width: 100px;
    height: 100px;
}




.feature .icon {
    font-size: 2em;
    color: #4caf50;
    margin-top: 1vh;
}

.logo {
    display: flex;
    border-radius: 20%;
    flex: 0;
    margin-right: 0 auto;
    align-items: center;
    
}


.feature h2 {
    margin: 10px 0 0;
}

.feature p {
    max-width: 400px;
}

.screenshots {
    background-color: #e8e8e8;
    padding: 20px 0;
    text-align: center;
}

.screenshots h2 {
    margin: 0 0 5vh;
}

.screenshot-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra els elements horitzontalment */
    width: 100%;
}


.screenshot-item img {
    width: 100%;
    height: auto;
}

.screenshot-item h3 {
    margin: 10px 0 5px;
}

.screenshot-item p {
    margin: 0;
}

.contact-form {
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
}

.contact-form h2 {
    margin-bottom: 20px;
}

/* Formulari centrat */
.contact-form form {
    max-width: 50vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra el formulari verticalment */
    height: 50vh; /* Ajusta l'alçada segons sigui necessari */
}

.contact-form label {
    text-align: left;
    margin-bottom: 5px;
    width: 100%;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Botó d'enviar amb borde negre */
.contact-form .btn.submit {
    background-color: #4caf50;
    color: white;
    border: 2px solid black; /* Afegeix un borde negre */
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    align-self: flex-end;
}

.contact-form .btn.submit:hover {
    background-color: #45a049;
}

.footer {
    background-color: #001f3f; /* Blau marí */
    color: white;
    padding: 10px 0;
    text-align: center; /* Assegura que el text estigui centrat */
}

.footer p {
    margin: 0;
    width: 100%; /* Assegura que l'ample sigui del 100% */
    text-align: center; /* Centra el text */
    display: inline-block; /* Assegura que es comporti com un element inline-block */
}

@media (min-width: 768px) {
    .header-container {
        flex-direction: row;
        text-align: left;
    }

    .header-content {
        flex-direction: row;
        justify-content: space-between;
    }

    .text-content {
        max-width: 50%;
    }

    .logo {
        margin-left: auto;
    }

    .screenshot-list {
        justify-content: space-between;
    }

    .screenshot-item {
        max-width: 30%;
    }
}
