body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background: linear-gradient(90deg, #a5d6a7, #1b5e20);
    color: white;
    padding: 20px 0;
    text-align: center;
}


.header-container {
    padding-top: 5vh;
    padding-bottom: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left; /* Canviat a left per alinear el text a l'esquerra */
}



.container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.features {
    display: flex;
    background-color: white;
    padding: 20px 0;
    text-align: center;
    justify-content: center;
}


.container-vistes {
    display: flex; /* Assegura que els elements fills estiguin en fila */
    justify-content: space-between; /* Centra els elements horitzontalment */
    margin: 10px;
    box-sizing: border-box;
    align-items: center;
    width: 98%;
    flex-direction: row
}

.container-vistes > div {
    flex: 1 1 auto; /* Permet que els elements fills creixin i es redueixin segons sigui necessari */
    margin: 10px;
    box-sizing: border-box;
    
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc; /* Afegeix una vora */
    border-radius: 5px; /* Afegeix cantonades arrodonides */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Afegeix una ombra */
    background-color: #fff; /* Assegura que el fons sigui blanc */
    padding: 10px; /* Afegeix espai interior */
}

.screenshot-item {
    flex: 1 1 100%; /* Hace que cada elemento ocupe el 100% del ancho disponible */
    margin: 3vh 3vh 3vh 3vh;
    max-width: 100%; /* Asegura que no exceda el 100% del contenedor */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
    border: 1px solid #ccc; /* Afegeix una vora */
    border-radius: 1vh; /* Afegeix cantonades arrodonides */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Afegeix una ombra */
    background-color: #fff; /* Assegura que el fons sigui blanc */
    padding: 10px; /* Afegeix espai interior */
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.text-content {
    flex: 1;
}


.text-content h1 {
    margin: 0;
    font-size: 3em;
}

.text-content .developer {
    font-style: italic;
}

.text-content .description {
    margin: 10px 0;
}

.buttons {
    margin-top: 20px;
    display: flex;  /* Agregar esto para que los botones estén en fila */
    justify-content: flex-start;  /* Alinea los botones a la izquierda */
}




.btn i {
    margin-right: 8px;
}

.btn:hover {
    background-color: #45a049;
}

.logo img {
    width: 100px;
    height: 100px;
}

.feature .icon {
    font-size: 2em;
    color: #4caf50;
    margin-top: 1vh;
}

.logo {
    display: flex;
    border-radius: 20%;
    flex: 0;
    margin-right: 0 auto;
    align-items: center;
    
}


.feature h2 {
    margin: 10px 0 0;
    font-size: max(2.3vh, 2vw);
}

.feature p {
    max-width: 400px;
}

.screenshots {
    background-color: #e8e8e8;
    padding: 20px 0;
    text-align: center;
}

.screenshots h2 {
    margin: 0 0 5vh;
}

.screenshot-list {
    display: flex; /* Asegura que los elementos estén uno al lado del otro */
    align-items: stretch; /* Alinea todos los elementos a la misma altura */
    flex-direction: row;
    justify-content: space-between;
}




.screenshot-item img {
    width: 90%;
    height: auto;
}

.screenshot-item h3 {
    margin: 10px 0 5px;
}

.screenshot-item p {
    margin: 0;
}

/* Importa la tipografía Roboto Mono desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.contact-form {
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
    font-family: 'Roboto Mono', monospace; /* Aplica la tipografía Roboto Mono */
}

.contact-form h2 {
    margin-bottom: 20px;
    font-family: 'Roboto Mono', monospace; /* Aplica la tipografía Roboto Mono al título */
}

.container-form {}

/* Formulari centrat */
.contact-form form {
    max-width: 50vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center; /* Centra el formulari verticalment */
    height: 50vh; /* Ajusta l'alçada segons sigui necessari */
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Roboto Mono', monospace; /* Aplica la tipografía Roboto Mono en los campos */
}

/* Estilo para el texto placeholder */
.contact-form input::placeholder,
.contact-form textarea::placeholder {
    font-family: 'Roboto Mono', monospace; /* Aplica la tipografía Roboto Mono al placeholder */
    color: #888; /* Color del placeholder */
}

/* Botón de enviar con borde negro */
.contact-form .btn.submit {
    display: block;
    background-color: #4caf50;
    color: white;
    border: 1px solid black; /* Para definir el color y el estilo */
    border-width: 0.3vh 0.5vh 0.5vh 0.3vh; /* Para definir los grosores específicos */
    padding: 1vh 2vh;
    cursor: pointer;
    border-radius: 5px;
}

.contact-form .btn.submit:hover {
    background-color: #45a049;
}



.footer {
    background-color: #001f3f; /* Blau marí */
    color: white;
    padding-top: 3vh;
    padding-bottom: 1vh;
    text-align: center; /* Assegura que el text estigui centrat */
}

.btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer p {
    margin: 0;
    width: 100%; /* Assegura que l'ample sigui del 100% */
    text-align: center; /* Centra el text */
    display: inline-block; /* Assegura que es comporti com un element inline-block */
}

@media (max-width: 767px) {
    .header-container {
        display: flex;                /* Asegúrate de que sea un contenedor flexible */
        flex-direction: column;       /* Alinea los elementos en columna */
        text-align: center;           /* Alinea el texto al centro */
        justify-content: center;      /* Centra los elementos a lo largo del eje principal */
        align-items: center;          /* Centra los elementos a lo largo del eje transversal */
    }
    
    .header-container > * {
        margin: 10px 0;               /* Agrega un pequeño margen entre los elementos */
    }
    
    .container-vistes {
        flex-direction: column;
        align-items: center;
    }


    .header-content {
        display: flex;                /* Asegúrate de que sea un contenedor flexible */
        flex-direction: column;       /* Alinea los elementos en columna */
        text-align: center;           /* Alinea el texto al centro */
        justify-content: center;      /* Centra los elementos a lo largo del eje principal */
        align-items: center;  
    }
    .header-content > * {
        margin: 10px 0;               /* Agrega un pequeño margen entre los elementos */
    }

    .text-content {
        max-width: 100%;
        
    }


    .screenshot-list {
        display: flex; /* Asegura que los elementos estén uno al lado del otro */
        align-items: stretch; /* Alinea todos los elementos a la misma altura */
        flex-direction: column; /* Cambiado a columna para móvil */
        justify-content: center;
        align-items: center;
    }
    
    .screenshot-item {
        flex: 1 1 100%; /* Los items toman un 100% del ancho en móvil */
        max-width: 30vh; /* No deben ser más anchos que el 100% */
        box-sizing: border-box; /* Asegura que el padding no se sume al ancho */
    }
    .buttons {
        justify-content: center;     /* Centra los elementos horizontalmente */
        align-items: center;         /* Centra los elementos verticalmente */
        padding: 10px 0;
    }
    
}
